<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <div class="createstory">
        <form action="/uploadstory" method="post" enctype="multipart/form-data">
            <h2>Create new post</h2>
            <h3>Drag your photos and vedios here</h3>
            <input type="file" id="mediaFile" name="mediaFile" accept="image/*,video/*" value="Select from your computer" >
            <input type="submit" value="submit">
        </form>
      </div>
</body>
</html>